@font-face {
    font-family: 'Century Gothic';
    src: url('fonts/gothic.eot');
    src: url('fonts/gothic.eot?#iefix') format('embedded-opentype'),
         url('fonts/gothic.woff2') format('woff2'),
         url('fonts/gothic.woff') format('woff'),
         url('fonts/gothic.ttf') format('truetype'),
         url('fonts/gothic.svg#gothic') format('svg');
    
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('fonts/OpenSans-Light.eot');
    src: url('fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light.woff2') format('woff2'),
         url('fonts/OpenSans-Light.woff') format('woff'),
         url('fonts/OpenSans-Light.ttf') format('truetype'),
         url('fonts/OpenSans-Light.svg#gothic') format('svg');
    
}

@font-face {
  font-family:"Open Sans Condensed Light";
  src:url("fonts/OpenSans-CondLight.eot?") format("eot"),
      url("fonts/OpenSans-CondLight.woff") format("woff"),
	  url("fonts/OpenSans-CondLight.ttf") format("truetype"),
	  url("fonts/OpenSans-CondLight.svg#OpenSans-CondensedLight") format("svg");
  font-weight:normal;
  font-style:normal;}

@font-face {font-family:"Open Sans";
  src:url("fonts/OpenSans-Regular.eot?") format("eot"),
      url("fonts/OpenSans-Regular.woff") format("woff"),
	  url("fonts/OpenSans-Regular.ttf") format("truetype"),
	  url("fonts/OpenSans-Regular.svg#OpenSans") format("svg");
	font-weight:normal;
	font-style:normal;}

@font-face {
    font-family: 'Economica';
    src: url('fonts/Economica-Regular.eot');
    src: url('fonts/Economica-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Economica-Regular.woff2') format('woff2'),
         url('fonts/Economica-Regular.woff') format('woff'),
         url('fonts/Economica-Regular.ttf') format('truetype'),
         url('fonts/Economica-Regular.svg#economicaregular') format('svg');
    
}


.border-center {
    background: #ddd none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin: 15px auto;
    position: relative;
    width: 200px;
}
.border-center::before {
    background: #B8152F none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -0.5px;
    border-radius: 8px;
    width: 100px;
}
h1,h2,h3,h4,h5,p{font-family:'Open Sans',sans-serif!important;
}


#top_header {
	background-color:#653B7D;
 /* background: red; /* For browsers that do not support gradients */
  /* background: -webkit-linear-gradient(right, rgb(106,60,187,1), rgb(89,51,110,1)); /* For Safari 5.1 to 6.0 */
  /* background: -o-linear-gradient(left,rgb(78,46,96,1),  rgb(75,43,93,1),); /* For Opera 11.1 to 12.0 */
  /* background: -moz-linear-gradient(left,rgb(78,46,96,1),  rgb(75,43,93,1)); /* For Firefox 3.6 to 15 */
  /* background: linear-gradient(to left, rgb(78,46,96,1), rgb(75,43,93,1)); /* Standard syntax */
}
.navbar-default .navbar-nav>li>a{
	font-size:15px;
}
@media (max-width: 767px){
.navbar-collapse {margin-left:15px;margin-right:30px;margin-top:20px;padding-top:18px;padding-bottom:18px;border:1px solid #dedede;border-radius:4px}
.navbar-nav>li{text-align:center;margin-left:0}
.nav{display:block!important}
 .navbar-nav{background:#fff;}

}

#works .steps p{margin-bottom:1.5rem;color:#a0a0a0;}
#works .steps h4{margin-top:0.5rem}
@media(min-width:1189px){
	#works .steps p{margin-bottom:2rem!important;}
}


@media (max-width: 767px){
.navbar-nav>li {
    text-align: center;
    margin-left: 0;
}
.caret{
	margin-top:-64px!important;
	margin-left:58%;
}
.footer-logo{
	padding-bottom:20px;
	
}
}
.copyright a, .readmore a, .testimonial span,.heading{
	color: #B8152F;	
}
.description{
	color: #A0A0A0;
}
.footer-logo img{
	 width:200px!important;
}

#banner{
position:relative;
margin-top:-25%;
}

#banner .sec1{
opacity:0.8;
}

 #divider_div
 {
	 
    background-image: url("img/divider.png");
    background-repeat: no-repeat;
	  background-position: center center;
 
}

.footer .footer-link ul li:hover{
color:#00E676;}


#background-image{
    background-image: url("../img/Landing-page-image.jpg");
    min-height: 500px; 
	height:500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo-name{ 
	padding-top:150px;
	font-family: 'Open Sans Semibold',sans-serif!important;
}

.logo,.laundry,.works-title{
	padding-top:50px;
}
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}
.fa{
	font-size:30px;
	color: #D21D1D;
}
.col-md-12{padding-left:0px!important;
padding-right:0px!important;
} 
  .grey.darken-4 {
    background-color: #212121!important
}
pre{
	border:none;
	background-color:transparent;
}
@media(max-width:767px){
.footer-logo img{
	
	text-align:left;
}

}


.navbar-default .navbar-toggle .icon-bar{background-color:#fff;}
.navbar-default .navbar-toggle:hover{background-color:#000;border:1px solid #000;}

.actions .fa{font-size:20px!important}

.actions .btn-xs{box-shadow:none;padding:5px 10px;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th, pre{font-family:'Open Sans',sans-serif}

@media(min-width:992px){
.convenience .card{min-height:300px;}
}
@media(min-width:768px) and (max-width:991px){
.convenience .card{min-height:400px;}
}

.faq h4{font-size:20px;font-family: 'Open Sans Semibold',sans-serif!important;}

.about-head{font-family:'Open Sans',sans-serif!important;font-size:23px;line-height:32px;font-weight:400}