<!DOCTYPE html>
<html>
   <head lang="en">
      <meta charset="utf-8">
      <title>Add Items</title>
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700" />
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/app.css">
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.css" />
      <link rel="stylesheet" href="http://mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" />
      <link href="css/angular-datepicker.css" rel="stylesheet" type="text/css" />
   
   
    	  <link href="assets/css/styles-blessed24f47.css?z=1442568872107" type="text/css" rel="stylesheet">
	   <link href="assets/css/main-style.css" type="text/css" rel="stylesheet"> 
	
    </head>
    <body class="infobar-offcanvas">
	
	<header id="topnav" class="navbar navbar-dark navbar-fixed-top clearfix" role="banner">

	 
	  
	                <span id="trigger-sidebar" class="toolbar-trigger" >
	                  	 <!-- <div class="navbar-header">
      <a class="navbar-brand" href="#">
	<img src="../assets/images/logo_white.png" class="img-responsive"></a>
    </div> -->
						 <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar"><span class="icon-bg"><i class="fa fa-fw fa-bars"></i></span></a>
					 
	                </span>
                                        
                       <ul class="nav navbar-nav toolbar pull-right">
                          
					  <li class="dropdown">
					         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                               <span><i class="fa fa-cog"></i></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                               	   								   
                            </ul>
                        </li> 
						
						<li class="dropdown">
					         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                               <span><i class="fa fa-plus-circle"></i></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                               	   <li><a href="add-user.html"><i class="fa fa-user"></i><span> Add User</span></a></li> 
					           	   <li><a href="add-product.html"><i class="fa fa-key"></i><span> Add Product</span></a></li> 
                               	    <li><a href="#"><i class="fa fa-list"></i><span> Add Category</span></a></li> 
                               	   <li><a href="add-order.html"><i class="fa fa-truck"></i><span> Add order</span></a></li>   								   
                            </ul>
                        </li> 
						
						
						 <li class="dropdown">
                            <a href="#" class="dropdown-toggle name" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="name">Y </span><span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ url('/logout') }}"
                                        onclick="event.preventDefault();
                                                 document.getElementById('logout-form').submit();">
                                        Logout
                                    </a>

                                    <form id="logout-form" action="{{ url('/logout') }}" method="POST" style="display: none;">
                                        
                                    </form>
                                </li>
                            </ul>
                        </li>
					   
                    </ul>  
 


	 </header>
	  <!----------------------------header ends----------------------------------> 		
      <div id="wrapper">
         <div id="layout-static">
            <!---------- Static Sidebar Starts------------------------------------------------------------------------------------------------------------->			
            <div class="static-sidebar-wrapper sidebar-default">
   <div class="static-sidebar">
      <div class="sidebar">
        
         <div class="widget stay-on-collapse" id="widget-sidebar">
            <nav role="navigation" class="widget-body">
               <ul class="acc-menu">
                  
				  
				  <li><a href="dashboard.html"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
        
				   <li><a href="products.html"><i class="fa fa-list"></i><span>Products</span></a></li>
        
				   <li ><a href="orders.html"><i class="fa fa-truck"></i><span>Orders</span></a></li> 
        
				   <li ><a href="users.html"><i class="fa fa-user"></i><span>Users</span></a></li>
        
				   <li  ><a href="reports.html"><i class="fa fa-list-alt "></i><span>Reports</span></a></li>
        
          
				  <li>
                     <a href="javascript:;">  <i class="fa fa-user"></i> <span>Members</span></a>
                     <ul class="acc-menu">
                        <li><a href="users.php">Members</a>  </li>
 
                     </ul>
                  </li>
				  
 
                  <li class="active">
                     <a href="javascript:;"><i class="fa fa-male"></i>  <span>Personalisation</span></a>	
                     <ul class="acc-menu">
                       <li class="active"><a href="user-profile.html">User Profile</a></li>
                        <li><a href="change_pwd.php">Password Reset</a></li>
                     </ul>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
   </div>
</div>
           







		   <!---------- Static Sidebar Ends------------------------------------------------------------------------------------------------------------->	
            <div class="static-content-wrapper">
			
			<section id="main-header">
      <div ng-app="mainApp" ng-controller="userController">
         <div class="container-fluid" >
            <div class="row">
               <div class="col-sm-12" >
                  <h2 class="header">Add User</h2>
               </div>
            </div>
			 
            <div class="row" >
               <div class="col-sm-12" >
                  <form name="myForm">
                     <div class="panel" ng-repeat="users in addUser">
                        <h3>{{users.title}}</h3>
                        <div class="row">
                           <div class="col-lg-5 col-sm-8">
						   
						      <!----- For Simple Text Type Input Field----------->
                              <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'text'" >
                                 <label for="{{data.identifier}}">{{data.title}}</label>
                                 <input type="{{data.type}}" ng-model="data.value" class="form-control"   id="{{data.identifier}}"  required>
                              </div>
							  
							  <!----- For Email Type Input Field----------->
                              <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'email'" >
                                 <label for="{{data.identifier}}">{{data.title}}</label>
                                 <input type="{{data.type}}" ng-model="data.value" class="form-control"   id="{{data.identifier}}"  required> 
                              </div>
							  
							  <!----- For Password Type Input Field----------->
                              <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'password'" >
                                 <label for="{{data.identifier}}">{{data.title}}</label>
                                 <input type="{{data.type}}" ng-model="data.value" class="form-control"   id="{{data.identifier}}"  required>
                              </div>
							  
							  <!----- For Radio Button Type Input Field----------->
                              <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'radio'">
                                 <label for="{{data.identifier}}">{{data.title}}</label> <br>
                                  <label  class="radio-inline" ng-repeat="options in data.field_options">
								     <input type="{{data.type}}" ng-model="data.value" value="{{options.value}}" name="{{data.identifier}}">{{options.title}}
								  </label> 
                              </div>
							  
							  <!----- For Checkbox Type Input Field----------->
                              <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'checkbox'">
                                 <label for="{{data.identifier}}">{{data.title}} </label> <br>
								 
								 <div class="checkbox" ng-repeat="options in data.field_options">
                                    <label><input type="{{data.type}}"  ng-model="data.value[options.value]" id="{{options.value}}"  >{{options.title}}</label>
                                 </div>


								 <label class="checkbox-inline" ng-repeat="options in data.field_options">
								   <input type="{{data.type}}" ng-model="data.value" value="{{options.value}}" >{{options.title}}
								 </label>
                              </div>
							  
							  
							  <!----- For Select Box Type Input Field----------->
                              <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'Selectbox'">
                                 <label for="{{data.identifier}}">{{data.title}}</label> <br>
                                  <label  class="radio-inline" ng-repeat="options in data.field_options">
								     <input type="{{data.type}}" ng-model="data.value" value="{{options.value}}" name="{{data.identifier}}">{{options.title}}
								  </label> 
                              </div>
							  
							  <!----- For Multiple Tag With Autocomplete Input Field----------->
                              <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'multipleTag'">
                                 <label for="{{data.identifier}}">{{data.title}}</label> 
                                 <tags-input ng-model="externalContacts" add-from-autocomplete-only="true" allow-leftover-text="false" display-property="title"   text="text" ng-blur="text=''">
                                    <auto-complete min-length="1" highlight-matched-text="true" source="searchPeople($query)"></auto-complete>
                                 </tags-input>
                              </div>
							  
							  <!----- For Single Tag Input Field----------->
                              <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'singleTag'">
                                 <label for="{{data.identifier}}">{{data.title}}</label>
                                 <tags-input  name="tags" display-property="value" ng-model="data.value" ></tags-input>
                              </div>
							  
							  <!----- For Simple Text Input Field----------->
                              <div class="form-group" ng-repeat="data in users.fields" ng-show="data.symbol">
                                 <label for="{{data.identifier}}">{{data.title}}</label>
                                 <div class="input-group">
                                    <span class="input-group-addon">{{data.symbol}}</span>
                                    <input type="{{data.type}}" class="form-control"   ng-model="data.value" id="{{data.identifier}}"  >
                                 </div>
                              </div>
							  
							  <!----- For Datepicker Input Field----------->
                              <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'datePicker'">
                                 <label for="{{data.identifier}}">{{data.title}}</label>
                                 <datepicker  date-format="yyyy-MM-dd"  button-prev='<i class="fa fa-arrow-circle-left"></i>'  button-next='<i class="fa fa-arrow-circle-right"></i>'>
                                    <input ng-model="data.value" type="text" class="form-control font-fontawesome font-light radius3"  />
                                 </datepicker>
                              </div>
							  
							  <!----- For Timepicker Input Field----------->
                              <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'timePicker'">
                                 <label for="{{data.identifier}}">{{data.title}}</label>
                                 <div class="input-group clockpicker"  clock-picker  data-autoclose="true" > 
                                    <input ng-model="ctrl.time" data-format="hh:mm:ss" type="text" class="form-control">
                                    <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                    </span>
                                 </div>
                              </div>
							  
							  <!----- For Textarea Input Field----------->
							  <div class="form-group" ng-repeat="data in users.fields" ng-show="data.type == 'longText'">
                                 <label for="{{data.identifier}}">{{data.title}}</label>
                                 <textarea class="form-control" name="{{data.identifier}}"ng-model="data.value"  id="{{data.identifier}}" >{{data.value}}</textarea>
                              </div>
							  
                           </div>
                           <div class="col-lg-7 col-sm-4 submit text-right">
                           </div>
                        </div>
                     </div>
					 
					 
                              <button   ng-click="add()" class="btn btn-success"> Save Changes </button>
                  </form>
				  
				  
                        <p>{{msg}}</p>
               </div>
            </div>
         </div>
      </div>
	  
	   </section>
			</div>
			 
       </div>
      </div> 
	  
	  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
      <script src="js/angular-datepicker.js"></script> 
      <script src="http://mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script>
      <script type="text/javascript" src="addUser.js"></script> 
      <script src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.js"></script>
	  
	   <script src="assets/js/enquire.min.js"></script> 									<!-- Enquire for Responsiveness -->
      <script src="assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller --> 
      <script src="assets/js/application.js"></script> 
	  
   </body>
</html>