  <div class="container-fluid">
  <div class="row">
     <div class="col-sm-12" > 
	     <ul class="nav nav-tabs" >
			 <li  class="active" ><a href="#/" data-toggle="tab"   >Basic Detail</a></li>
			 <li  class="" ><a href="#/order" data-toggle="tab"   >Orders</a></li>
			 <li  class="" ><a href="#/payments" data-toggle="tab"   >Payments</a></li>
			 <li  class="" ><a href="#/coupons" data-toggle="tab"   >Coupons Used</a></li>
			 <li  class="" ><a href="#/address" data-toggle="tab"   >Address</a></li>
			 <li  class="" ><a href="#/sessions" data-toggle="tab"   >Sessions</a></li>
         </ul>
							  
          <div class="tab-content">
             <div id="/" class="tab-pane fade in  active" > 
			 <div class="panel">
			 <div class="panel-body user-info">
                  <h4 ng-repeat="data in profileData.userData">  </h4>
				  <p>Name : {{data.firstName}} {{data.lastName}}</p>
				  <p>Phone : {{data.mobile}}</p>
				  <p>Email : {{data.email}}</p>
                  </div> 					 
				</div>					 
              </div>
               </div>  
     </div>
   </div>
   </div>