<!DOCTYPE html>
<html>
    <head lang="en">
      <meta charset="utf-8">
      <title>User Profile</title> 
	  
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700" />
      <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="css/app.css">
    
 	  <link href="assets/css/styles-blessed24f47.css?z=1442568872107" type="text/css" rel="stylesheet">
	   <link href="assets/css/main-style.css" type="text/css" rel="stylesheet"> 
	<style>
	.nav-tabs{margin-bottom:0px}
	</style>
    </head>
    <body class="infobar-offcanvas">
	
	<header id="topnav" class="navbar navbar-dark navbar-fixed-top clearfix" role="banner">

	 
	  
	                <span id="trigger-sidebar" class="toolbar-trigger" >
	                  	 <!-- <div class="navbar-header">
      <a class="navbar-brand" href="#">
	<img src="../assets/images/logo_white.png" class="img-responsive"></a>
    </div> -->
						 <a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar"><span class="icon-bg"><i class="fa fa-fw fa-bars"></i></span></a>
					 
	                </span>
                                        
                   <ul class="nav navbar-nav toolbar pull-right">
                          
					  <li class="dropdown">
					         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                               <span><i class="fa fa-cog"></i></span>
                            </a>
                            <ul class="dropdown-menu" role="menu"> 									   
                            </ul>
                        </li> 
						
						<li class="dropdown">
					         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                               <span><i class="fa fa-plus-circle"></i></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                               	   <li><a href="add-user.html"><i class="fa fa-user"></i><span> Add User</span></a></li> 
					           	   <li><a href="add-product.html"><i class="fa fa-key"></i><span> Add Product</span></a></li> 
                               	    <li><a href="#"><i class="fa fa-list"></i><span> Add Category</span></a></li> 
                               	   <li><a href="add-order.html"><i class="fa fa-truck"></i><span> Add order</span></a></li>   								   
                            </ul>
                        </li> 
						
						
						 <li class="dropdown">
                            <a href="#" class="dropdown-toggle name" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="name">Y </span><span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ url('/logout') }}"
                                        onclick="event.preventDefault();
                                                 document.getElementById('logout-form').submit();">
                                        Logout
                                    </a>

                                    <form id="logout-form" action="{{ url('/logout') }}" method="POST" style="display: none;">
                                        
                                    </form>
                                </li>
                            </ul>
                        </li>
					   
                    </ul>  
 


	 </header>
	  <!----------------------------header ends----------------------------------> 		
      <div id="wrapper">
         <div id="layout-static">
            <!---------- Static Sidebar Starts------------------------------------------------------------------------------------------------------------->			
            <div class="static-sidebar-wrapper sidebar-default">
   <div class="static-sidebar">
      <div class="sidebar">
        
         <div class="widget stay-on-collapse" id="widget-sidebar">
            <nav role="navigation" class="widget-body">
               <ul class="acc-menu">
                  
				  
				  <li><a href="dashboard.html"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
        
				   <li><a href="products.html"><i class="fa fa-list"></i><span>Products</span></a></li>
        
				   <li ><a href="orders.html"><i class="fa fa-truck"></i><span>Orders</span></a></li> 
        
				   <li ><a href="users.html"><i class="fa fa-user"></i><span>Users</span></a></li>
        
				   <li  ><a href="reports.html"><i class="fa fa-list-alt "></i><span>Reports</span></a></li>
        
          
				  <li>
                     <a href="javascript:;">  <i class="fa fa-user"></i> <span>Members</span></a>
                     <ul class="acc-menu">
                        <li><a href="users.php">Members</a>  </li>
 
                     </ul>
                  </li>
				  
 
                  <li class="active">
                     <a href="javascript:;"><i class="fa fa-male"></i>  <span>Personalisation</span></a>	
                     <ul class="acc-menu">
                       <li class="active"><a href="user-profile.html">User Profile</a></li>
                        <li><a href="change_pwd.php">Password Reset</a></li>
                     </ul>
                  </li>
               </ul>
            </nav>
         </div>
      </div>
   </div>
</div>
           







		   <!---------- Static Sidebar Ends------------------------------------------------------------------------------------------------------------->	
            <div class="static-content-wrapper">
			
			<section id="main-header">
			
      <div ng-app="mainApp" >
         <div class="container-fluid" >
   <div class="row" > 
	     <div class="col-sm-8 col-md-9" >
	 {{profileData.message}}
		 <div class="row"  > 
	     <div class="col-sm-4 col-md-3" ng-repeat="values in profileData"  >
		   <div class="card" ng-show="values.type=='userInfo'"ng-repeat="d in values.data" >
		     <img src="">
		     <h4>{{d.cust}}</h4>
			 <h5>{{d.custEmail}}</h5>
		   </div>
		   
		   <div class="card" ng-show="values.type=='orders'"  ng-repeat="d in values.data"> 
		     <h4>{{d.total}}</h4>
			 <h5>{{d.title}}</h5>
		   </div>
		   
		   <div class="card" ng-show="values.type=='revenue'"  ng-repeat="d in values.data"> 
		     <h4>{{d.total}}</h4>
			 <h5>{{d.title}}</h5>
		   </div>
		 </div> 
		 </div>
		 </div>
		  <div class="col-sm-4 col-md-3 text-right" >
		    <button class="btn btn-create">Create Order</button>
		 </div> 
  </div>
   </div>  
   

	  
	 
	 
	
	 <div ng-view></div>
	 </div>
	 
	   
	   
	    </section>
			</div>
			
			  
       </div>
      </div>
  
	  
	 <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  
		  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>		  
      <script type="text/javascript" src="userProfile.js"></script>
       <script src="assets/js/enquire.min.js"></script> 									<!-- Enquire for Responsiveness -->
      <script src="assets/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller --> 
      <script src="assets/js/application.js"></script> 
	  
	 
    </body>
</html>