<!DOCTYPE html>
<html lang="ar">
<!-- <html lang="ar"> for arabic only -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Invoice</title>
	
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700" />
    <style>
        @media print {
           
            #printContainer {
			font-family: 'Open Sans',sans-serif;
                 
            }

           
        }
    </style>
</head>
<body  >

 
<div  ng-app="mainApp" ng-controller="invoiceController" id='printContainer'>
 

<div >
    Ecommerce
	<br>
    <table>
        <tr>
            <td>Invoice Num</td>
            <td>#{{invoice.order_id}}</td>
        </tr>
        <tr>
            <td>Created At</td>
            <td>{{invoice.date}}</td>
        </tr>

        <tr>
            <td>Client Name</td>
            <td>{{invoice.customer_details}}</td>
        </tr>
    </table>
    
    <hr>

	
	<table border="0"   align="center" width="100%" cellpadding="0" cellspacing="0" >
											
											<tr >
												<td  align="left" height="40" valign="middle" style="color: #686b74; font-size: 14px; mso-line-height-rule: exactly; line-height: 26px; border-bottom: solid 1px #cccccc;">
													 {{invoice.items.columns[0]}} 
												</td>
												
												<td align="right" height="40" valign="middle" style="color: #686b74; font-size: 14px;mso-line-height-rule: exactly; line-height: 26px; border-bottom: solid 1px #cccccc;">
													 {{invoice.items.columns[3]}} 
												</td> 
											</tr> 
											<tr ng-repeat="value in invoice.items.data" >
												<td  align="left" height="40" valign="middle" style="color: #686b74; font-size: 14px;  mso-line-height-rule: exactly; line-height: 26px;">
													{{value.title}}
												</td>
												
												<td align="right" height="40" valign="middle" style="color: #686b74; font-size: 14px;  mso-line-height-rule: exactly; line-height: 26px;  ">
													{{invoice.currency_symbol}}{{value.discounted_price * value.quantity}}
												</td> 
											</tr>
										 
										</table>
										
 
    <hr>

    <table  align="center" width="100%">
											<tr>
												<td align="left" height="" valign="middle" style="color: #686b74; font-size: 14px; font-family: 'Open Sans', sans-serif; mso-line-height-rule: exactly; line-height: 26px;">
													Subtotal
												</td>
												<td align="right" height="" valign="middle" style="color: #686b74; font-size: 14px; font-family: 'Open Sans', sans-serif; mso-line-height-rule: exactly; line-height: 26px;">
													{{invoice.currency_symbol}}{{invoice.sub_total}}
												</td>
											</tr>
											<tr>
												<td align="left" height="" valign="middle" style="color: #686b74; font-size: 14px; font-family: 'Open Sans', sans-serif; mso-line-height-rule: exactly; line-height: 26px;">
													Coupon Discount
												</td>
												<td align="right" height="" valign="middle" style="color: #686b74; font-size: 14px; font-family: 'Open Sans', sans-serif; mso-line-height-rule: exactly; line-height: 26px;">
													{{invoice.coupon_discount}}
												</td>
											</tr>
											<tr>
												<td align="left" height="" valign="middle" style="color: #686b74; font-size: 14px; font-family: 'Open Sans', sans-serif; mso-line-height-rule: exactly; line-height: 26px;">
													Shipping
												</td>
												<td align="right" height="" valign="middle" style="color: #686b74; font-size: 14px; font-family: 'Open Sans', sans-serif; mso-line-height-rule: exactly; line-height: 26px;">
													{{invoice.shipping}}
												</td>
											</tr>
											<tr>
												<td align="left" height="" valign="middle" style="color: #686b74; font-size: 14px; font-family: 'Open Sans', sans-serif; mso-line-height-rule: exactly; line-height: 26px;">
													Tax
												</td>
												<td align="right" height="" valign="middle" style="color: #686b74; font-size: 14px; font-family: 'Open Sans', sans-serif; mso-line-height-rule: exactly; line-height: 26px;">
													{{invoice.tax}}
												</td>
											</tr>
											<tr  >
												<td align="left" height="" valign="middle" style="color: #686b74; font-size: 14px; font-family: 'Open Sans Semibold', sans-serif; mso-line-height-rule: exactly; line-height: 26px;border-top:1px solid #c5c5c5">
													Total
												</td>
												<td align="right" height="" valign="middle" style="color: #686b74; font-size: 14px; font-family: 'Open Sans Semibold', sans-serif; mso-line-height-rule: exactly; line-height: 26px;border-top:1px solid #c5c5c5">
													{{invoice.currency_symbol}}{{invoice.total}}
												</td>
											</tr>
										</table>
    <hr>

</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!----assets for pdf download--------->
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script> 

 
	  
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	  
<script src="https://npmcdn.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>
  
  
  
<script src="admin/angular-controllers/ordersDetail.js"> </script>
  

  
</body>
</html>