  <div class="container-fluid">
  <div class="row">
     <div class="col-sm-12" > 
	     <ul class="nav nav-tabs" >
			 <li  class="active" ><a href="#/" data-toggle="tab"   >Live Location</a></li>
			 <li  class="" ><a href="#/assigned-orders" data-toggle="tab"   >Assigned Orders</a></li>
 
			 <li  class="" ><a href="#/payments" data-toggle="tab"   >Payments</a></li>
		<!-- 	 <li  class="" ><a href="#/payments" data-toggle="tab"   >Payments</a></li>
			 <li  class="" ><a href="#/coupons" data-toggle="tab"   >Coupons Used</a></li>
			 <li  class="" ><a href="#/sessions" data-toggle="tab"   >Sessions</a></li> -->
         </ul>
							  
          <div class="tab-content  tab-content-data">
             <div id="/" class="tab-pane fade in  active" > 
			 <div class="panel">
			 <div class="panel-body user-info">
                  
				  
		
 <div id="dvMap" style="width:100%; height:800px">
     
    </div>
	 
					  
					  
					  
                  </div> 					 
				</div>		

 			
              </div>
               </div>  
     </div>
   </div>
   </div>