  <div class="container-fluid">
  <div class="row">
     <div class="col-sm-12" > 
	 <ul class="nav nav-tabs" >
			 <li  class="" ><a href="#/" data-toggle="tab"   >Live Location</a></li>
			 <li  class="active" ><a href="#/assigned-orders" data-toggle="tab"   >Assigned Orders</a></li>
 
			 <li  class="" ><a href="#/payments" data-toggle="tab"   >Payments</a></li>
         </ul>
					

 				
          <div class="tab-content  tab-content-data">
             <div id="assigned-orders" class="tab-pane fade in active">
			 <div class="panel">
 
                  <h4  > Orders </h4> 
		     <table class="table">
			    <tr>
				    <th>Id</th>
					<th>Customer Name</th>
					<th>Status</th>
					<th>Total</th>
				 
					<th>Created</th>
				</tr>
				<tr ng-repeat="data in ordersData.order_data"> 
				   
				     <td class="id"> <a href="{{app_url}}/order_detail_page?order_id={{data.id}}">#{{data.id}} </a></td> 
					 <td>{{data.customer_details[0].first_name}} {{data.customer_details[0].last_name}}</td>
				   <td>{{data.order_status}}</td>
				   <td>{{currency}}{{data.sub_total}}</td>
				   <td>{{data.created_at_formatted}}</td>
				</tr>
				
			 </table>
                   					 
					</div>				 
              </div>
               </div>   
			   </div>
               </div>  
			   </div>