  <div class="container-fluid">
  <div class="row">
     <div class="col-sm-12" > 
	     <ul class="nav nav-tabs" >
 
			 <li  class="" ><a href="#/" data-toggle="tab"   >Live Location</a></li>
			 <li  class="" ><a href="#/assigned-orders" data-toggle="tab"   >Assigned Orders</a></li>
 
			 <li  class="active" ><a href="#/payments" data-toggle="tab"   >Payments</a></li>
		<!-- 	 <li  class="" ><a href="#/payments" data-toggle="tab"   >Payments</a></li>
			 <li  class="" ><a href="#/coupons" data-toggle="tab"   >Coupons Used</a></li>
			 <li  class="" ><a href="#/sessions" data-toggle="tab"   >Sessions</a></li> -->
         </ul>
							  
          <div class="tab-content  tab-content-data">
             <div id="/payments" class="tab-pane fade in  active" > 
			 <div class="panel">
			 <div class="panel-body user-info">
			  <div class="row">
			    <div class="col-sm-12" style="text-align:right">
             
				  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Receive Payments</button>
				  
				  
				  
				  			    





				</div>
			  </div>
	 		  
			  
			  
			  
			  <div class="row">
			    <div class="col-sm-6" style="border-right:1px solid #ccc">
				 <div class="" >
				  <h3>Driver Payment</h3>
				  <table class="table">
				    <tr>
					  <th>Order Id</th>
					  <th>Amount</th>
					  <th>Payment Method</th>
					  <th>Transaction Id</th>
					</tr>
					<tr ng-repeat="data in driverPaymentData.data ">
					  <td>{{data.order_id}}</td>
					  <td>{{data.amount}}</td>
					  <td>{{data.payment_id}}</td>
					  <td>{{data.transaction_id}}</td>
					</tr>
				  </table>
				</div>
				</div>
				
				 <div class="col-sm-6">
				  <h3>Admin Payment</h3>
				  <table class="table">
				    <tr>
					  <th>Order Id</th>
					  <th>Amount</th>
					  <th>Payment Method</th>
					  <th>Transaction Id</th>
					</tr>
					<tr ng-repeat="data in adminPaymentData.data ">
					  <td>{{data.order_id}}</td>
					  <td>{{data.amount}}</td>
					  <td>{{data.payment_id}}</td>
					  <td>{{data.transaction_id}}</td>
					</tr>
				  </table>
				</div>
			  </div>
					  
                  </div> 					 
				</div>		

 			
              </div>
               </div>  
			   
			   
			   
			   
			   
			   
			   
			   




<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Receive Payments</h4>
      </div>
      <div class="modal-body">
        
 <form class="form-horizontal" action="/action_page.php">

 
 <div class="form-group">
    <label class="control-label col-sm-2" for="email">Amount</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="amount" placeholder="Enter Amount">
    </div>
 </div>
  
 <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Notes:</label>
    <div class="col-sm-10"> 
      <textarea class="form-control" name="notes" id="notes" placeholder="Enter Notes"></textarea>
    </div>
 </div>
  
  
  
 <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Order Id:</label>
    <div class="col-sm-10"> 
      <input type="text" class="form-control" name="order_id" id="order_id" placeholder="Enter Order Id"> 
    </div>
 </div>
  
 
  

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" ng-click="submitPayments()" class="btn btn-default">Submit</button>
    </div>
  </div>
  
  
</form>
		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<textarea id="res99" style="display:none"></textarea>





     </div>
	 
	 
	 
	 
	
	
	 
	 
	 
	 
	 
   </div>
   </div>