<div class="container-fluid">
  <div class="row">
     <div class="col-sm-12" > 
	    <ul class="nav nav-tabs report-tabs" >
			<li  class="" ><a href="#/" data-toggle="tab"   >Recommended</a></li>
			<li  class="" ><a href="#/order" data-toggle="tab"   >Orders</a></li>
			<li  class="" ><a href="#/transactions" data-toggle="tab"   >Transactions</a></li>
			<li  class="active" ><a href="#/customer" data-toggle="tab"   >Customers </a></li> 
			<li  class="" ><a href="#/sales" data-toggle="tab"   >Sales </a></li>  
        </ul>
							  
        <div class="tab-content tab-content-data">
          <div id="/" class="tab-pane fade in  active" >  
			<div class="panel">
			  <div class="panel-body ">
                <div class="row">
				  <div class="col-sm-4" ng-repeat="data in reports.reports_list" ng-show="data.identifier == 'Customers'">
				     <h4 class="report-title">{{data.title}} 
					   <span > 
					     <a target="_blank" href="{{reports.app_url}}/{{data.url}}" >Generate</a> 
					   </span>
					 </h4>
					 <p class="report-desc">{{data.description}}</p>
				  </div>
				</div>
              </div> 					 
			</div>					 
          </div>
        </div> 
		
     </div>
   </div>
</div>