  <div class="container-fluid">
  <div class="row">
     <div class="col-sm-12" > 
	     <ul class="nav nav-tabs" >
			 <li  class="" ><a href="#/timeslots " data-toggle="tab"   >Timeslots</a></li>
			 <li  class="active" ><a href="#/taxes" data-toggle="tab"   >Taxes</a></li> 
         </ul>                                                                                                                                                                                                                                                                                      
							  
          <div class="tab-content  tab-content-data">
             <div id="/taxes" class="tab-pane fade in  active" > 
			 <div class="panel">
			 <div class="panel-body user-info">
                  
				  <table class="table   tableAdd">	
					 <tbody >
  
						 <tr  class=" " >
							 <td style="border-top:0px;" > <div class="form-group" > 
                                               <label for="title"> Title</label>
                                               <input type="text" class="form-control" name="title " id="title " ng-model="value.title"   value="CGST" style="width:80%" placeholder="Enter title"required> 
                                             </div> 
											 </td  >   
											 <td style="border-top:0px;"  >
											 <div class="form-group"  >
                                               <label for="value"> value (%)</label>
                                               <input type="number" class="form-control" name="value" id="value" ng-model="value.price"  value="9"  style="width:80%" placeholder="Enter value"required> 
                                             </div>  </td>   
											 <td style="border-top:0px;" > 
											  <button ng-click="save_tax()"   class="btn btn-save btn-add">Save</button>
											 </td>
						 </tr>
						 <tr  class="  " >  
							 <td style="border-bottom:0px;"  > <div class="form-group" > 
                                               <label for="title"> Title</label>
                                               <input type="text" class="form-control" name="title " id="title " ng-model="value.title" value="SGST"   style="width:80%" placeholder="Enter title"required> 
                                             </div> 
											 </td  >
  
 
											 <td  style="border-bottom:0px;">
 
											 <div class="form-group"  >
                                               <label for="value"> value (%)</label>
                                               <input type="number" class="form-control" name="value" id="value" ng-model="value.price"  value="9"   style="width:80%" placeholder="Enter value"required> 
                                             </div>  </td>
  
 
											 <td style="border-bottom:0px;">
 
											  <button ng-click="save_tax()"   class="btn btn-save btn-add">Save</button>
											 </td>
						 </tr>
					  </tbody>
				  </table>
										 
				  
                  </div> 					 
				</div>		

 			
              </div>
               </div>  
     </div>
   </div>
   </div>