  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" > 
	        <ul class="nav nav-tabs" >
			    <li  class="active" ><a href="#/timeslots " data-toggle="tab"   >Timeslots</a></li>
			    <li  class="" ><a href="#/taxes" data-toggle="tab"   >Taxes</a></li> 
            </ul>
							  
            <div class="tab-content  tab-content-data">
                <div id="timeslots" class="tab-pane fade in  active" > 
			        <div class="panel">
			            <div class="panel-body user-info">
                           
						    <ul class="nav nav-tabs" >
			                   <li  class=""><a href="#sunday" data-toggle="tab">Sunday</a></li>
			                   <li  class=""><a href="#monday" data-toggle="tab">Monday</a></li> 
			                   <li  class=""><a href="#tuesday" data-toggle="tab">Tuesday</a></li>
			                   <li  class=""><a href="#wednesday" data-toggle="tab">Wednesday</a></li> 
			                   <li  class=""><a href="#thursday" data-toggle="tab">Thursday</a></li>
			                   <li  class=""><a href="#friday" data-toggle="tab">Friday</a></li> 
			                   <li  class=""><a href="#saturday" data-toggle="tab">Saturday</a></li> 
                            </ul>
							  
                            <div class="tab-content  tab-content-data">
                                <div id="sunday" class="tab-pane fade in  active" > 
			                       <div class="panel">
			                           <div class="panel-body user-info">
                                               <table class="table   tableAdd">	
					 <tbody >
  
 
						 <tr  class=" " >
							 <td  style="border:0px;" > <div class="form-group" >
 
                                               <label for="title"> Start Time</label>
                                               <input type="text" class="form-control" name="title " id="title " ng-model="value.title"   value="" style="width:80%" placeholder="Enter Start time"required> 
                                             </div> 
											 </td  >
 
											 
 
											 <td  style="border:0px;" > 
											 <div class="form-group"  >
                                               <label for="value">  End Time  </label>
                                               <input type="number" class="form-control" name="value" id="value" ng-model="value.price"  value=""  style="width:80%" placeholder="Enter end time"required> 
                                             </div>  </td> 
											 
											 <td style="border:0px;"> 
											  <button ng-click="save_tax()"   class="btn btn-save btn-add">Save</button>
											 </td>
						 </tr> 
					  </tbody>
				  </table>
                                       </div> 					 
				                   </div>		
                                </div>
								
								<div id="monday" class="tab-pane fade  " > 
			                       <div class="panel">
			                           <div class="panel-body user-info"> 
                                       </div> 					 
				                   </div>		
                                </div>
								
								<div id="tuesday" class="tab-pane fade" > 
			                       <div class="panel">
			                           <div class="panel-body user-info">
                   
                                       </div> 					 
				                   </div>		
                                </div>
								
								<div id="wednesday" class="tab-pane fade" > 
			                       <div class="panel">
			                           <div class="panel-body user-info">
                   
                                       </div> 					 
				                   </div>		
                                </div>
								
								<div id="thursday" class="tab-pane fade" > 
			                       <div class="panel">
			                           <div class="panel-body user-info">
                   
                                       </div> 					 
				                   </div>		
                                </div>
								
								<div id="friday" class="tab-pane fade" > 
			                       <div class="panel">
			                           <div class="panel-body user-info">
                   
                                       </div> 					 
				                   </div>		
                                </div>
								
								<div id="saturday" class="tab-pane fade " > 
			                       <div class="panel">
			                           <div class="panel-body user-info">
                   
                                       </div> 					 
				                   </div>		
                                </div>
                            </div>  
			   
			   
                  </div> 					 
				</div>		

 			
              </div>
               </div>  
     </div>
   </div>
   </div>