<div class="container-fluid">
  <div class="row">
     <div class="col-sm-12" > 
	    <ul class="nav nav-tabs" >
			<li  class="active" ><a href="#/" data-toggle="tab"   >Recommended</a></li>
			<li  class="" ><a href="#/order" data-toggle="tab"   >Orders</a></li>
			<li  class="" ><a href="#/payments" data-toggle="tab"   >Payments</a></li>
			<li  class="" ><a href="#/customers" data-toggle="tab"   >Customers </a></li> 
        </ul>
							  
        <div class="tab-content">
          <div id="/" class="tab-pane fade in  active" >  
			<div class="panel">
			  <div class="panel-body ">
                <div class="row">
				  <div class="col-sm-4">
				     <h4 class="report-title">Order List <span> <a href="report-detail.html">Generate</a></span></h4>
					 <p class="report-desc">In publishing and graphic design, loreum ipsum is a placeholder text commonly used to demonstrate the visual form of a document without relying on meaningful content (also called greeking).</p>
				  </div>
				</div>
              </div> 					 
			</div>					 
          </div>
        </div> 
		
     </div>
   </div>
</div>